.page{
    display: flex;
    justify-content: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  font-size: 24px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.sorted-column {
  background-color: #d4e7ec;
}

th.sorted-column.asc, td.sorted-column.asc {
  background-color: #d4e7ec;
}

th.sorted-column.desc, td.sorted-column.desc {
  background-color: #dce9ce;
}

a {
  color: #2175c9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="submit"], .button {
  background-color: #2175c9;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover, .button:hover {
  background-color: #2175c9;
}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container, .movie-details {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}
.button {
    background-color: #2175c9;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
}
.button:hover {
    background-color: #2175c9;
}
.delete-button {
    background-color: #cf5a4d;
}
.delete-button:hover {
    background-color: #cf5a4d;
}
